body{
    background-color: rgba(0, 0, 0, 0.918);
    color: white;
    font-family: 'Mitr', sans-serif;
}
#h21{
    margin-top: 15px;
}
#goodbye{
    margin-top: 5px;
    width: 250px;
}
#album1{
    margin-left: 250px;
    margin-top: -220px;
    font-size: 12pt;
    margin-bottom: 70px;
}
#album11{
    margin-top: -215px;
    margin-left: 480px;
    font-size: 12pt;
    margin-bottom: 90px;
}

#death{
    margin-top: 5px;
    width: 150px;
}
#album2{
    margin-left: 250px;
    margin-top: -250px;
    font-size: 12pt;
    margin-bottom: 70px;
}
#album22{
    margin-left: 610px;
    margin-top: -267px;
    font-size: 12pt;
    margin-bottom: 70px;
}
#legends{
    width: 260px;
}
#album3{
    margin-left: 250px;
    margin-top: -250px;
    font-size: 12pt;
    margin-bottom: 70px;
}
#album33{
    margin-left: 690px;
    margin-top: -270px;
    font-size: 12pt;
    margin-bottom: 70px;
}
#fight{
    width: 270px;
}

#album4{
    margin-left: 270px;
    margin-top: -250px;
    font-size: 12pt;
    margin-bottom: 70px;
}
#album44{
    margin-left: 570px;
    margin-top: -285px;
    font-size: 12pt;
    margin-bottom: 70px;
}
#botao{
    margin-top: 120px;
    margin-bottom: 50px;
    color: white;
    text-align: center;
    display: block;
    font-size: 18pt;
}