body{
    background-color: rgb(0, 0, 0);
    font-family: 'Mitr', sans-serif;
}
#logo999{
    margin-top: -10px;
    margin-bottom: -70px;
}
#logo1999{
    margin-top: -10px;
    margin-bottom: -70px;
    margin-left: 350px;
}
h1{
    text-align: center;
    color: aliceblue;
}

img{
    margin-top: 50px;
    margin-left: 680px;
}
a{
    color: white;
}
h2{
    text-align: center;
    color: white;
}